


body {
  background: cornflowerblue;
  }

a {
  color: darkblue;
}

table {
  background: lightblue;
    border-radius: 10px 25px;

}

tr {

}
th {

    bottom-border: solid black 1px;
    padding: 10px;
}

#mainimg {

    width: 400px;
}

#logo {

    width: 40px;
}