


body {
  background: burlywood;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: darkblue;
    padding: 20px;
}

table {
  background: bisque;

}

tr {


}
th {

    border: solid black 1px;
    padding: 10px;
}

.Link {

    font-size: 30px;

}