extends layout

    block content
        .row
            h4 Add new game to collection
        form(action="", method="post")
            .form-group.row
                label Name
                    input.form-control(name="name")

            .form-group.row
                label Year published
                    input.form-control(name="year")

            .form-group.row
                label Rating
                    input.form-control(name="rating")

            .form-group.row
                button.btn-primary Add