doctype html
html
  head
    title= 'Board Game Collection'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    a(class='Link' href='/') Home
    br
    a(class='Link' href='/collection') My collection
    br
    a(class='Link' href='/update') Log a game

    block content
