doctype html
html
  head
    title= 'Board Game Collection'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    a(href='/') Home
    br
    a(href='/collection') My collection
    br
    a(href='/update') Log a game

    block content
