extends layout

block content
    .row
        h1 Log a Game
    form(action="", method="post")
        .form-group.row
            label Game name
                input.form-control(name="name")

        .form-group.row
            label Date
                input.form-control(name="date", type='date')

        .form-group.row
            label Won
                input.form-control(name="won", type='checkbox')


        .form-group.row
            button.btn-primary Log a game

    h1= 'Played Games:'
    table
        each play in plays
            tr
            th= play.game
            th= 'Date: ' + play.datePlayed
            th= 'Won?: ' + play.won
